
//
// VARIABLES
//

// Colors
$backgroundColor: #222222;
$textColor: #e8e6df;
$linkColor: #d7bb7d;
$visitedColor: #84b7d3;
$hoverColor: #c88f73;

// Fonts
$textFont: Georgia, 'Times New Roman', Times, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
